<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>beacon-position.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E538F4F41D1F03CC00A4AA5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E538F5081D1F03CD00A4AA5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E538F5131D1F03CD00A4AA5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
